<!DOCTYPE html>
<html>

<head>
    <title>Demo App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 70px;
        }

        .jumbotron {
            text-align: center;
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            margin: 20px auto;
        }

        h1 {
            margin-bottom: 20px;
            font-size: 2rem;
        }

        p {
            margin-bottom: 20px;
            font-size: 1rem;
        }

        .btn-google {
            margin-top: 20px;
            font-size: 1rem;
            padding: 10px 20px;
            border-radius: 10px;
        }

        /* Responsive styles for small devices (phones) */
        @media (max-width: 1000px) {
            body {
                padding-top: 50;
            }

            .jumbotron {
                padding: 50px;
                height: 1000px;
                /* width: 100px;     */
            }

            h1 {
                font-size: 5rem;
            }

            p {
                font-size: 3rem;
            }

            .btn-google {
                margin-top: 15px;
                font-size: 4rem;
                padding: 25px 50px;
                border-radius: 10px;

            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1><span class="fa fa-lock"></span> Social Authentication</h1>
            <p>Login or Register with:</p>
            <a href="/auth/google" class="btn btn-danger btn-google"><span class="fa fa-google"></span> Sign In with
                Google</a>
        </div>
    </div>
</body>

</html>
